@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Abraks Dance Club<br />
    Bulgaria, Dupnica, street: Nikola Lazarkov 1<br />
    <abbr title="Phone">P:</abbr>
    0888-88-88-88
</address>

<address>
    <strong>E-mail: </strong>abraks@abv.bg<br />
    <strong>Official Facebook Page:</strong> <a href="https://www.facebook.com/club.abraks/">Facebook Page</a>
</address>
