@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid img-fluid jumbotron ">

    <div class="row align-items-center">
        <div class="col text-center">
            <p><h2><strong>Bulgarian Folklore(Horo)</strong></h2></p>
        </div>
        <div class="row">
            <div class="col text-center">
                Many Bulgarian dances are line dances, with the dancers holding hands in a straight or curved line,
                facing in toward the center of the dance space. Originally men and women danced in separate lines, or in
                a gender-segregated line in which the last woman and first man held opposite ends of a handkerchief, to
                avoid gender contact, but today men and women often dance in mixed lines. Several different handholds are
                used in the different dances"

                Holding hands down at waist level, the arms of adjacent dancers in the shape of a "V", right hand facing forward, left hand facing back
                Holding hands at shoulder level, with the arms of adjacent dancers in the shape of a "W", right hand palm up, left hand palm down
                "Teacup hold", in which each dancer places his left hand on his stomach making a "handle" with his left arm, and loops his right hand
                loosely through the arm of the right-hand dancer
                Shoulder hold, with the arms held out straight horizontally to the sides, the hands resting on the near shoulders of the adjacent da
                ncers. This was originally a men's hold, used only in the men's line.
                Belt hold (na lesa), with each dancer holding the front of the belt or sash of the two adjacent dancers, left arm over right

                Bulgarian dances are distinctive for their subtle rhythms and intricate footwork. In some dances, the dancers repeat the same
                pattern of steps throughout the dance, while others are "called" dances with several different steps in which the leader calls
                out changes in the steps at his discretion. Still others have a basic step which individual dancers may embellish at specific
                points with variations like stamps and foot slaps.

                In dances in which the line moves to the right or left, the dancer at the head of the
                line is the "leader". It is his responsibility to lead the line so it doesn't collide with
                other lines, and in "called" dances to call the variations. New dancers joining a dancing
                line join at the end; it is bad manners to join at the head of the line, in front of the leader.
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="row align-items-center">
        <div class="col text-center">
            <p><h2><strong>Salsa</strong></h2></p>
        </div>
        <div class="row">
            <div class="col text-center">
                Salsa is a dance for Salsa music created by Spanish-speaking people from the Caribbean
                and their immigrant communities in the US. Salsa dancing mixes African and European dance
                influences through the music and dance fusions that are the roots of Salsa: SonGuaguancó,
                Rumba, Boogaloo, Pachanga, Guaracha, Plena, Bomba, .

                Salsa is normally a partner dance, although there are recognized solo forms, line dancing
                (suelta), and Rueda de Casino where groups of couples exchange partners in a circle. Salsa can be
                improvised or performed with a set routine. thumb|300px|right|partners dancing salsa The name "Salsa" is
                the Spanish word for sauce, connoting (in American Spanish) a spicy flavor. Salsa also suggests a "mixture"
                of ingredients, though this meaning is not found in most stories of the term's origin. (See suelta for more information.)
            </div>
        </div>
    </div>
</div>