@{
    ViewData["Title"] = "Schedule";
}

<h2>Schedule</h2>

<br />

<table class="table table-striped table-bordered">
<tbody>
<tr>
    <th>Group/Day</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
</tr>
<tr>
    <td>Salsa - Kids 5-14 years</td>
    <td><div><span>16:00 - 17:00</span></div></td>
    <td></td>
    <td><div><span>16:00 - 17:00</span></div></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Salsa - Beginners</td>
    <td><div><span>17:00 - 18:00</span></div></td>
    <td></td>
    <td><div><span>17:00 - 18:00</span></div></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Salsa - Intermediate</td>
    <td><div><span>18:00 - 19:00</span></div></td>
    <td></td>
    <td><div><span>18:00 - 19:00</span></div></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Bulgarian Folklore - Kids 5-14 years</td>
    <td></td>
    <td><div><span>17:00 - 18:00</span></div></td>
    <td></td>
    <td><div><span>17:00 - 18:00</span></div></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Bulgarian Folklore Fitness - Beginners</td>
    <td></td>
    <td><div><span>18:00 - 19:00</span></div></td>
    <td></td>
    <td><div><span>18:00 - 19:00</span></div></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Bulgarian Folklore Fitness - Intermediate</td>
    <td></td>
    <td><div><span>19:00 - 20:00</span></div></td>
    <td></td>
    <td><div><span>19:00 - 20:00</span></div></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Folklore ensemble</td>
    <td><div><span>19:30 - 21:00</span></div></td>
    <td></td>
    <td><div><span>19:30 - 21:00</span></div></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody>
</table>