@model UsersViewModel

<tr>
    <td>@Model.UserName</td>
    <td>@Model.FullName</td>
    <td>
        <a asp-area="Admin" asp-controller="Users" asp-action="Details" asp-route-id="@Model.Id"
           class="btn btn-success">Details</a>
    </td>
</tr>
